.portfolio_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}
.portfolio_items{
    background: var(--color-bg-variant);
    padding: 1.3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}
.portfolio_item:hover{
    border-color: var(--color-primary-variant);
    background: transparent;
}
#img1{
    border-radius: 1.5rem;
    overflow: hidden;
    height: 18rem;
    width: 18rem;
    object-fit: cover;
}
.portfolio_item h3{
    display: flex;
    justify-content: center;
    margin: 0 2rem;
}
.portfolio_item-cta{
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-bottom: 1rem;
}


/*========MADIA QUERIES(SMALL DEVICES)======*/
@media  screen and (max-width: 600px){
    .portfolio_container{
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(1, 1fr);
        gap: 2.5rem;
    }
    .portfolio_items{
        display: flex;
        justify-content: center;
    }
}