header{
    height: 100%;
    padding-top: 7rem;
    overflow: hidden;
}

.header__container{
    text-align: center;
    height: 100%;
    position: relative;
}

/* ======CTA=====*/
.cta{
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/* =====HEADER SOCIALS =====*/
.header_socials{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
}

.header_socials::after{
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

a{
    font-size: 20px;
}
.me{
    width: 20rem;
    height: 26rem;
    left: calc(50% - 11rem);
    margin-top: 3.2rem;
    border-radius: 2rem;
    object-fit: cover;
}

.scroll_down{
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
}
/*========MADIA QUERIES(MEDIUM DEVICES)======*/
@media  screen and (max-width: 1024px) {
    header{
        height: 68vh;
    }
    
}
/*========MADIA QUERIES(SMALL DEVICES)======*/
@media  screen and (max-width: 600px) {
    header{
        height: 100vh;
    }
    .header_socials, .scroll_down{
        display: none;
    }
}